[user]
	name = Mário Areias
	email = mario.s.s.areias@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	y = diff "@{yesterday}"
	w = whatchanged
	c = commit
	st = status
	dc = diff --cached
	co = checkout
	rb = rebase
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit
	lgn = "!f() { git log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' $@ | git name-rev --stdin --name-only ; } ; f"
	log1 = log --pretty=oneline --abbrev-commit --decorate

[format]
	pretty = format:%Cred%h%Creset - %Cgreen%an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset
[push]
	default = current
